
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.headerSearch{

border: 1px solid white;
border-radius: 5px;
width: 50%;
height: 35px;
padding-left: 10px;

}


.borderCircle{

border:  1px solid black;
border-radius: 50%;
width: 95px;
height: 95px;

}

.womenFashion{
width: 100%;
height: 400px;
background-color: grey;

}